<!--Este template corresponde à página que mostrar uma listagem
de todos os produtos cadastrados-->
    <div class="container mt-3">

        <h1>Lista de produtos</h1>
        <a href="" class="btn btn-primary">Adicionar</a>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descricao</th>
                    <th>Preço</th>
                    <th>Imagem</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- É preciso repetir a linha da tabela para cada
                produto existente no dicionário -->
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><img src="" alt="thumbnail" class="img-thumbnail"></td>
                        <td><a href="">Editar</a></td>
                    </tr>
                
            </tbody>
        </table>
    </div>
